# Binaries for programs and plugins
dist/
man/
*.exe
*.exe~
*.dll
*.so
*.dylib
/av

# IDE setups
.idea/

# Vendored dependencies (we use go.mod instead)
/vendor

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
cmd/av/av
