# Binaries for programs and plugins
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
/av

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
