name: pre-commit

on: pull_request

permissions:
  contents: "read"

defaults:
  run:
    shell: bash -leo pipefail {0}
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install pre-commit
        run: pip install pre-commit
      - name: "Cache pre-commit"
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
      - name: "Run pre-commit"
        run: pre-commit run --show-diff-on-failure --all-files --color=always
